<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.multiagentes.docker-maintenance</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>__SCRIPT__</string>
        <string>build</string>
    </array>

    <key>WorkingDirectory</key>
    <string>__PROJECT__</string>

    <key>RunAtLoad</key>
    <false/>

    <key>StartCalendarInterval</key>
    <dict>
        <key>Weekday</key>
        <integer>__WEEKDAY__</integer>
        <key>Hour</key>
        <integer>__HOUR__</integer>
        <key>Minute</key>
        <integer>__MINUTE__</integer>
    </dict>

    <key>StandardOutPath</key>
    <string>/tmp/docker-maintenance.log</string>

    <key>StandardErrorPath</key>
    <string>/tmp/docker-maintenance.err</string>
</dict>
</plist>
